<div class="container">
	<%= form_with(model: record, url: records_semester_path) do |form| %>
		<% if record.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

				<ul>
					<% record.errors.each do |error| %>
						<li><%= error.full_message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<div class = "field mb-3">
			<%= form.label :user_id, {class: "form-label user_id-label"} %>
			<%= form.select :user_id, choices = User.all.collect {|u| [u.full_name, u.id]}, {class: "form-control"} %>
		</div>
		<div class = "field mb-3">
			<%= form.label :paid_dues, {class: "form-label paid_dues-label"} %>
			<%= form.select :paid_dues, choices = [['yes', true], ['no', false]], {class: "form-contrl"} %>
		</div>
		<div class = "actions">
			<%= form.submit "Submit", {class: "btn btn-primary"} %>
		</div>
	<% end %>
</div>