<%= content_tag(:div, class: "container align-items-center mt-5") do %>
	<%= content_tag(:div, class: "row align-items-center justify-content-center") do %>
		<%= content_tag(:div, class: "col-10 col-sm-8 col-md-6") do %>
			<%= form_for(@semester, method: 'delete') do |form| %>
				<div class = "mb-3">
					<h1><%= @semester.name %></h1>
				</div>
				<div class = "mb-3">
					<p><%= @semester.start %></p>
				</div>
				<div class = "mb-3">
					<p><%= @semester.end %></p>
				</div>
				<div class = "mb-3">
					<p><%= @semester.duescost %></p>
				</div>
				<%= form.submit("Delete Book", {class: "btn btn-danger"}) %><br>
			<% end %>
			<%= link_to 'Back', semesters_path, {class: "mt-5"} %>
		<% end %>
	<% end %>
<% end %>