<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>View Semesters</title>
</head>

<body>
	<div class="container mt-5 mb-5">
		<h1>View All Semesters</h1>
		<div class = "mt-5">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Start Date</th>
						<th scope="col">End Date</th>
						<th scope="col">Dues Cost</th>
						<th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<% @semesters.each do |semester| %>
						<tr>
							<th><%= semester.name%></td>
							<td><%= semester.start%></td>
							<td><%= semester.end%></td>
							<td><%= semester.duescost%></td>
							<td><%= link_to 'Details', semester_path(semester), {class: "btn btn-primary w-100"} %></td>
							<% if user_signed_in? && ['admin','president','treasurer'].include?(current_user.role)%>
								<td><%= link_to 'Edit', edit_semester_path(semester), {class: "btn btn-primary w-100"} %></td>
								<td><%= link_to 'Delete', delete_semester_path(semester), {class: "btn btn-danger 1-100"} %></td>
							<% end %>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<% if user_signed_in? %>
			<% if ['admin','president','treasurer'].include? current_user.role %>
				<%= link_to "Add New Semester", new_semester_path %>
				<br>
			<% end %>
			<%= link_to 'Back', user_path(current_user.id), {class: "mt-5"} %>
		<% else %>
			<%= link_to 'Back', root_path, {class: "mt-5"} %>
		<% end %>
	</div>
</body>