<div class="container mt-5 mb-5">
  <h1>View Roles for <%= @user.full_name %></h1>

  <h2>Current Role: <%= @user.role %></h2>
      
  <h3>Please choose 1 role for <%= @user.full_name %></h3>


  <%= form_with(model: @user) do |form| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      
            <ul>
              <% @user.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

    <%= form.text_field @user.role %>
    <%= form.select @user.role, [['Officer', 'admin'], ['President','president'], ['Member','member']] %>
    <%= form.submit "Submit", {class: "btn btn-primary"} %>

  <% end %>

</div>