<body>
        

    <div class="container">
        <h1 class="mb-5 text-center">TSAT Member Dashboard</h1>
        <div class="row">
            <div class="col-sm">
                <%= link_to "Events", events_path, {class:"btn btn-primary btn-block my-auto" }%>
            </div>
            <div class="col-sm">
                <%= link_to "Attendance", edit_user_path(current_user.id), {class:"btn btn-primary btn-block my-auto" } %>
            </div>
            <div class="col-sm">
                <%= link_to "Pay Dues", payment_user_path(current_user.id), {class:"btn btn-primary btn-block my-auto" } %>
            </div>
            <div class="col-sm">
                <%= link_to "Members", user_root_path(current_user.id), {class:"btn btn-primary btn-block my-auto" } %>
            </div>

            <% if current_user.role == 'admin' || current_user.role == 'president' || current_user.role == 'treasurer' %>
                <div class="col-sm">
                    <%= link_to "Edit Home Page", edit_home_page_path(), {class:"btn btn-primary btn-block my-auto" } %>
                </div>
            <% end %>
          
            <% if ['treasurer','president'].include? current_user.role %>
              <div class="col-sm">
                <%= link_to "Payment Details", payment_accounts_path, {class: "btn btn-primary btn-block my-auto"} %>
              </div>
            <% end %>
          
            <div class="col-sm">
                <%= link_to "Help", help_user_path(current_user.id), {class:"btn btn-primary btn-block my-auto" } %>
            </div>
        </div>
    </div>
</body>


