<div class="container">
<%= form_with(model: event) do |form| %>
    <% if event.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>
  
        <ul>
          <% event.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
   
    <div class = "field mb-3">
        <%= form.label :name, {class: "form-label name-label"}%>
        <%= form.text_field :name, {class: "form-control"}%>
    </div>
    <div class="field mb-3">
        <%= form.label :time, {class: "form-label time-label"} %>
        <%=  datetime_local_field("event", "time", {class: "form-control datepicker"} )%>
    </div>
    <div class = "field mb-3">
        <%= form.label :location, {class: "form-label location-label"}%>
        <%= form.text_field :location, {class: "form-control"}%>
    </div>
    <div class = "field mb-3">
        <%= form.label :description, {class: "form-label description-label"}%>
        <%= form.text_area :description, {class: "form-control"}%>
    </div>
    <div class = "field mb-3">
        <%= form.label :password, {class: "form-label password-label"}%>
        <%= form.text_field :password, {class: "form-control"}%>
    </div>
    <div class = "field mb-3">
        <%= form.label :is_mandatory, {class: "form-label is_mandatory-label"}%>
        <%= form.check_box  :is_mandatory, {class: "form-control", checked: true}%>
    </div>
    <div class="actions">
      <%= form.submit "Submit", {class: "btn btn-primary"} %>
    </div>
  <% end %>
</div>