
<%= content_tag(:div, class: "container align-items-center mt-5") do %>
    <%= content_tag(:div, class: "row align-items-center justify-content-center") do %>
        <%= content_tag(:div, class: "col-12 col-md-10") do %>
            <h1>Events</h1>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Name</th>
                    <th scope="col" colspan="2">Time</th>
                    <th scope="col">Location</th>
                    <!-- <th scope="col">Mandatory?</th> -->
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                <!-- for loop this table row and dynamically fill in the content -->
                    <% @events.each do |event| %>
                        <tr>
                            <td class="align-middle"><%= event.name %></td>
                            <td class="align-middle" colspan="2"><%= event.time.strftime("%m/%d/%Y %I:%M") %></td>
                            <td class="align-middle"><%= event.location %></td>
                            <!-- <td class="align-middle"><%= event.is_mandatory %></td> -->
                            <td class="align-middle" colspan="2"><%= link_to 'Description', event_path(event), {class: "btn btn-primary w-100"} %></td>
                            <td class="align-middle" colspan="2">
                            <%= link_to 'Edit', edit_event_path(event), {class: "btn btn-primary w-100"} %>
                            </td>
                            <td class="align-middle" colspan="2">
                            <%= link_to 'Delete', delete_event_path(event), {class: "btn btn-primary w-100"} %>
                            </td>
                            
                        </tr>
                    <% end %>
                </tbody>
                </table>
                <%= link_to "Add Event", new_event_path %>
        <% end %>
    <% end %>
<% end %>