<%= content_tag(:div, class: "container align-items-center mt-5") do %>
    <%= content_tag(:div, class: "row align-items-center justify-content-center") do %>
        <%= content_tag(:div, class: "col-10 col-sm-8 col-md-6") do %>
            <div class = "mb-3">
                <h1>Name: <%= @event.name %></h1>
            </div>
            <div class="mb-3">
                <p>Time: <%= @event.time.strftime("%m/%d/%Y %I:%M") %></p>
            </div>
            <div class="mb-3">
                <p>End Time: <%= @event.end_time.strftime("%m/%d/%Y %I:%M") %></p>
            </div>
            <div class = "mb-3">
                <p>Location: <%= @event.location %> </p>
            </div>
            <div class = "mb-3">
                <p>Description: <%= @event.description %> </p>
            </div>
            <div class = "mb-3">
                <p>Link: <%= @event.link %> </p>
            </div>
            <div class = "mb-3">
                <p>Number of people attended: <%= @event.attendance_count %> </p>
            </div>
            <div class = "mb-3">
                <p>Mandatory: <%= @event.is_mandatory %> </p>
            </div>
            <% if user_signed_in? &&  current_user.role == 'admin' %>
                <div class = "mb-3">
                    <p>Password: <%= @event.password %> </p>
                </div>
            <% end %>
            <br>
            <% if user_signed_in? &&  current_user.role == 'admin' %>
                <div class = "mb-3">
                    <%# create checkbox to show or hide the second table %>
                    <input type="checkbox" id="showDidNotAttendTable">
                    <label for="showDidNotAttendTable">Show/hide members who did not attend this meeting</label><br>
                </div>
                <%# create table to show all users that attended this meeting %>
                <div class="mt-5">
                    <b style="font-size: 24px;">Users who attended this meeting:</b>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Full Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Attended</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @attendees.each do |attendee| %>
                                <% currUser = @users.where(id: attendee.user_id, is_current_member: true).first%>
                                <%# check if currUser is nil, if its not, put data in table %>
                                <% if !currUser.nil? %>
                                    <tr>
                                        <td><%= currUser.id %></td>
                                        <td><%= currUser.full_name %></td>
                                        <td><%= currUser.email %></td>
                                        <td><%= attendee.attended %></td>
                                    </tr>
                                <% end %> 
                            <% end %>
                            <%# check if anyone has attended the meeting, if no one has display message %>
                            <% if @attendees.empty? %>
                                <tr>
                                    <td colspan="3" style="text-align:center;">No one has attended this meeting</td>
                                </td>
                            <% end %>
                        </tbody>
                    </table>
                </div>
                <br>
                <div class="mt-5" id="didNotAttendTable" style="display: none;">
                    <b style="font-size: 24px;">Users who did not attend this meeting:</b>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Full Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Attended</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @users.each do |user| %>
                                <% currUser = @attendees.find_by(user_id: user.id) %>
                                <%# check if currUser is nil, if it is, put data in table because they did not attend the meeting %>
                                <% if currUser.nil? %>
                                    <tr>
                                        <td><%= user.id %></td>
                                        <td><%= user.full_name %></td>
                                        <td><%= user.email %></td>
                                        <td><%= false %></td>
                                    </tr>
                                <% end %> 
                            <% end %>
                            <%# check if anyone has attended the meeting, if no one has display message %>
                            <% if @attendees.length == @users.length %>
                                <tr>
                                    <td colspan="3" style="text-align:center;">Everyone attended this meeting</td>
                                </td>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            <% end %>
            <%= link_to 'Back', events_path, {class: "mt-5"} %>
        <% end %>
    <% end %>
<% end %>

<%# add javascript script to show didNotAttendTable if checkbox is checked%>
<script>
    document.getElementById("showDidNotAttendTable").addEventListener("change", function() {
        if(this.checked) {
            document.getElementById("didNotAttendTable").style.display = "block";
        } else {
            document.getElementById("didNotAttendTable").style.display = "none";
        }
    });
</script>
