<div class="container">
<%= form_with(model: home_page) do |form| %>
    <% if home_page.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(home_page.errors.count, "error") %> prohibited this home page from being saved:</h2>
  
        <ul>
          <% home_page.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
   
    <!-- 
      <div class = "field mb-3">
          <%= form.label :slider_image_1, {class: "form-label name-label"}%>
          <%= form.text_field :slider_image_1, {class: "form-control"}%>
      </div>
      <div class="field mb-3">
          <%= form.label :slider_image_2, {class: "form-label name-label"}%>
          <%= form.text_field :slider_image_2, {class: "form-control"}%>
      </div>
      <div class = "field mb-3">
          <%= form.label :slider_image_3, {class: "form-label name-label"}%>
          <%= form.text_field :slider_image_3, {class: "form-control"}%>
      </div>
      <div class = "field mb-3">
          <%= form.label :slider_image_4, {class: "form-label name-label"}%>
          <%= form.text_field :slider_image_4, {class: "form-control"}%>
      </div>
      <div class = "field mb-3">
          <%= form.label :slider_image_5, {class: "form-label name-label"}%>
          <%= form.text_field :slider_image_5, {class: "form-control"}%>
      </div>
    -->
    <div class = "field mb-3">
        <%= form.label :heading, {class: "form-label name-label"}%>
        <%= form.text_field :heading, {class: "form-control"}%>
    </div>
    <div class = "field mb-3">
        <%= form.label :summary, {class: "form-label name-label"}%>
        <%= form.text_field :summary, {class: "form-control"}%>
    </div>
    <div class="actions">
      <%= form.submit "Submit", {class: "btn btn-primary"} %>
    </div>
  <% end %>
</div>