
<div style="text-align:center">
    <h1><%= @home_page.heading%></h1>
</div>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <% if @home_page.slider_image_1.attached? %>
                <img src="<%=(url_for(@home_page.slider_image_1))%>">
            <% else %>
                <img class="d-block w-100" src="https://placeimg.com/1080/500/animals" alt="First slide">
            <% end %>
            <div class="carousel-caption d-none d-md-block">
                <h5>My Caption Title (1st Image)</h5>
                <p>The whole caption will only show up if the screen is at least medium size.</p>
            </div>
        </div>

        <div class="carousel-item">
            <% if @home_page.slider_image_2.attached? %>
                <img src="<%=(url_for(@home_page.slider_image_2))%>">
            <% else %>
                <img class="d-block w-100" src="https://placeimg.com/1080/500/animals" alt="First slide">
            <% end %>
        </div>
        <div class="carousel-item">
            <% if @home_page.slider_image_3.attached? %>
                <img src="<%=(url_for(@home_page.slider_image_3))%>">
            <% else %>
                <img class="d-block w-100" src="https://placeimg.com/1080/500/animals" alt="First slide">
            <% end %>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div style="text-align:center">
    <h3><%= @home_page.summary%></h3>
</div>




