<div class="container">
	<%= form_with(model: account) do |form| %>
		<% if account.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

				<ul>
					<% account.errors.each do |error| %>
						<li><%= error.full_message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<div class="field mb-3">
			<%= form.label :internal_name, {class: "form-label internal_name-label"} %>
			<%= form.text_field :internal_name, {class: "form-control"} %>
		</div>
		<div class="field mb-3">
			<%= form.label :payment_address, {class: "form-label payment_address-label"} %>
			<%= form.text_field :payment_address, {class: "form-control"} %>
		</div>
		<div class="actions">
			<%= form.submit "Submit", {class: "btn btn-primary"} %>
		</div>
	<% end %>
</div>