<%= content_tag(:div, class: "container align-items-center mt-5") do %>
	<%= content_tag(:div, class: "row align-items-center justify-content-center") do %>
		<%= content_tag(:div, class: "col-12 col-md-10") do %>
			<h1>Payment Account Details</h1>
			<div class="field md-3">
				<b>Account Name: </b><%= @account.internal_name %>
			</div>
			<div class="field md-3">
				<b>Account Address: </b><%= @account.payment_address %>
			</div>
		<% end %>
	<% end %>
	<%= link_to 'Back', payment_accounts_path, {class: "mt-5"} %>
<% end %>