<div class="container">
	<%= form_with(model: contact_form) do |form| %>
		<% if contact_form.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(contact_form.errors.count, "error") %> prevented this message from being sent:</h2>
				<ul>
					<% contact_form.errors.each do |error| %>
						<li><%= error.full_message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<div class="field mb-3">
			<%= form.label :name, {class: "form-label name-label"} %>
			<%= form.text_field :name, {class: "form-control"} %>
		</div>
		<div class="field mb-3">
			<%= form.label :email, {class: "form-label email-label"} %>
			<%= form.text_field :email, {class: "form-control"} %>
		</div>
		<div class="field mb-3">
			<%= form.label :company, {class: "form-label company-label"} %> (if any)
			<%= form.text_field :company, {class: "form-control"} %>
		</div>
		<div class="field mb-3">
			<%= form.label :message, {class: "form-label message-label"} %>
			<%= form.text_area :message, {class: "form-control"} %>
		</div>
		<div class="actions">
			<%= form.submit "Submit", {class: "btn btn-primary"} %>
		</div>
	<% end %>
</div>